body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    /* height: 650px; */
    background-color: rgb(46, 19, 167);
}
.header-section{
    display: flex;
}
.header-content{
    width: 50%;
    margin: 50px 50px 50px 200px;
}
.header-left h1{
    color: white;
    font-size: 50px;
}
.header-left a{
    text-decoration: none;
    color: white;
    background-color: rgb(201, 27, 128);
    padding: 15px 40px;
}
.header-right img{
    width: 650px;
}
.header-section:hover img {
    transform: rotate(30deg) scale(0.8);
    transition-duration: 4s;
}
/*----------- Header Section Style End -------------- */


/* ----------- Article Section Style Start ------------  */
.blogs{
    display: grid;
    grid-template-columns: 372px 372px 372px;
    justify-content: space-evenly;
    margin: 80px 150px 0 150px;
}
.blogimg img {
    width: 350px;
    border-radius: 20px;
    padding: 10px 10px;
}
.bloginfo{
    padding: 0 10px;
}
.blog{
    margin-top: 30px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(202, 192, 192);
    border-radius: 10px;
}