/* CSS Style  */

/* Website font  */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header content style  */
header{
    width: 100%;
    background-color: rgb(46, 19, 167);
}
.header-section{
    display: flex;
}
.header-content{
    width: 50%;
    margin: 50px 50px 50px 200px;
}
.header-left h1{
    color: white;
    font-size: 50px;
}
.header-left a{
    text-decoration: none;
    color: white;
    background-color: rgb(201, 27, 128);
    padding: 15px 40px;
}
.header-right img{
    width: 650px;
}
.header-section:hover img {
    transform: rotate(30deg) scale(0.8);
    transition-duration: 4s;
}
/*----------- Header Content Style End -------------- */

/* ---------------- Main Section Style Start ---------------- */

/* -------- Main section first content style start --------- */


/* Article Section Style Start */
.blogs{
    display: grid;
    grid-template-columns: 372px 372px 372px;
    justify-content: space-evenly;
    justify-items: center;
    margin: 80px 150px 0 150px;
}
.blogimg img {
    width: 350px;
    border-radius: 20px;
    padding: 10px 10px;
}
.bloginfo{
    padding: 0 10px;
}
.blog{
    margin-top: 30px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(202, 192, 192);
    border-radius: 10px;
}
/* ----------- Article Section Style End ------------  */


/* ----------------------- Bonus part ------------------------------  */

/* News-Style Start */
.bonus-part{
    margin-top: 100px;
}
.Latest-news h1{
    color: rgb(172, 29, 29);
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 35px;
}
.newsalbums{
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    justify-items: center;
}
.news-content{
    margin-top: 30px;
    width: 350px;
}
.news-content a{
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}
.newsphoto img{
    padding: 0 25px;
    width: 300px;
    height: 200px;
}
.newsarticle{
    padding: 0 25px;
}
.newsarticle h2{
    color: #10418a;
}
/* News-Style End  */

/* Sponsors-Style Start */

.sponsor-content{
    margin-top: 30px;
}
.sponsor-title{
    font-size: 45px;
    color: #173562;
    display: flex;
    justify-content: center;
}
.sponsors{
    display: flex;
    justify-content: center;
}
.sponsors > a{
margin: 0 10px;
}
.sponsors a:hover{
    transform: scale(1.4);
    transition-duration: 2s;
}

/* Sponsor Style End  */

hr{
    width: 80%;
    margin-top: 40px;
}
/* ----------------------- Bonus part ------------------------------  */

/* Footer Section Style  */
footer{
    margin-top: 100px;
}
.footer-img {
    display: flex;
    justify-content: center;
}
.footer-img img{
    width: 380px;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.icon{
    margin: 10px; 
}
.copyright{
    display: flex;
    justify-content: center;
}
/* Footer style end  */


/* Mobile Device Responsive Using Media Query */
/* Media Query  */

/* Header content media query start */

@media only screen and (max-width:688px) {

    .header-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .header-content{
        width: 100%;
    }
    .header-left{
        width: 100%;
        margin-left: 40px;
    }
    .header-right img{
        width: 370px;
        margin-left: 65px;
    }

    /* Article Media Query Style  */
    .blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    /* Bonus Part Media Query Style  */

    .Latest-news h1{
        font-size: 20px;
    }
    .newsalbums{
        display: grid;
        grid-template-columns: 400px;
    }

    /* Sponsor Media Query Style  */
    .sponsor-title{
        font-size: 28px;
    }
    .sponsors{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sponsors > a {
        margin-top: 10px;
    }

    /* Footer Content Media Query Style  */
    footer{
        margin-top: 100px;
    }
    .footer-img {
        display: flex;
        justify-content: center;
    }
    .footer-img img{
        width: 300px;
    }
    .icon{
        margin: 5px; 
    }
    .copyright > p{
        display: flex;
        justify-content: center;
        font-size: 12px;
    }
}
