body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    /* height: 650px; */
    background-color: rgb(46, 19, 167);
}
.header-section{
    display: flex;
}
.header-content{
    width: 50%;
    margin: 50px 50px 50px 200px;
}
.header-left h1{
    color: white;
    font-size: 50px;
}
.header-left a{
    text-decoration: none;
    color: white;
    background-color: rgb(201, 27, 128);
    padding: 15px 40px;
}
.header-right img{
    width: 650px;
}
.header-section:hover img {
    transform: rotate(30deg) scale(0.8);
    transition-duration: 4s;
}
/*----------- Header Section Style End -------------- */


/* ----------- Grid Section Style Start ------------  */
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 80px 100px 0 100px;
}
.blogimg img {
    width: 250px;
    /* height: 180px; */
    border-radius: 10px;
    padding: 10px 10px;
}
.blog{
    border: 1px solid #ccc;
}